body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ded6de;
    /* background-image: radial-gradient(
        circle farthest-side at var(--x) var(--y),
        #62696a 0%,
        transparent 100%
    ); */
}

@property --mouse-x {
    syntax: "*";
    inherits: false;
    initial-value: 100px;
}

@property --mouse-y {
    syntax: "*";
    inherits: false;
    initial-value: 100px;
}

.background-webgl {
    width: max(100%, 400px);
    height: max(100%, 400px);
    display: block;
    position: fixed;
}

.background-noise {
    width: 100%;
    height: 100%;
    position: fixed;
    filter: grayscale(1);
    fill-opacity: 0.0;
}

.frontpage-container {
    background-color: #e6eaee41;
    z-index: 1;
    color: #392c31;
}

.content-container {
    background-color: #e6eaee41;
    z-index: 1;
    color: #392c31;
    width: max(800px, 60vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    margin: auto 0;
}

.header-container {
    text-align: center;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
}

.header-title {
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-name {
    font-size: 64px;
    font-family: 'c4type';
}

.header-contact {
    font-size: 24px;
    margin: 1em 0;
    font-family: 'nyghtserif';
    font-weight: 400;
}

.nav-container {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.nav-item {
    flex: 1;
    padding: 1rem;
    font-family: 'nyghtserif';
    font-weight: 500;
    text-decoration: none;
    color: #392c31;
}

.nav-item:hover {
    background: #4a3c4a11;
    box-shadow: inset 0 0 0 1px #83918b33, 0 0 0.25rem #83918b33;
}

.projects-section-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.projects-section-content-padding {
    width: 1rem;
}

.projects-section-content {
    flex-grow: 1;
}

.projects-section-header {
    text-align: center;
    font-family: 'nyghtserif';
    color: #4a3c4a;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.projects-section-header-padding {
    flex-grow: 1;
}

.projects-section-header-separator {
    color: #2b1d2b87;
    height: 0;
    margin: 0;
    padding: 0;
}

.projects-section-header-text {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.project-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-content-column-text {
    padding: 0 1em;
    width: 62%;
}

.project-content-column-image-container {
    padding: 0 1rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.project-content-column-image-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.project-content-column-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.project-header {
    font-family: 'dinish';
    color: #4a3c4a;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

.invisilink {
    text-decoration: none;
    color: inherit;
}

.inlinelink {
    color: inherit;
}

.project-description {
    font-family: 'dinish';
    color: #4a3c4a;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.project-cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    padding: 0.5rem;
    height: 12vh;
    width: 17.5vw;
    background-color: #d3d5be;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: thin;
    border-color: #4a3c4a99;
    box-shadow: 0.5rem 0.5rem 0.25rem #4a3c4a22;
}

.project-card-img {
    background-color: black;
}

.project-card-content {
    display: flex;
    flex-direction: column;
}

.project-card-title {
    font-size: 20px;
    font-family: 'dinish-expanded';
}

.project-card-details {
    padding-top: 0.5rem;
    font-size: 16px;
    font-family: 'dinish';
}

@font-face {
    font-family: 'aukera';
    src: url('fonts/aukera.woff2') format('woff2'),
        url('fonts/aukera.woff') format('woff'),
        url('fonts/aukera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'c4type';
    src: url('fonts/C4v4-Regular.woff2') format('woff2'),
        url('fonts/C4v4-Regular.woff') format('woff'),
        url('fonts/C4v.4-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geneseexcalibur';
    src: url('fonts/Genese-excalibur-boldstone.woff2') format('woff2'),
        url('fonts/Genese-excalibur-boldstone.woff') format('woff'),
        url('fonts/Genese-excalibur-boldstone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'laborisette';
    src: url('fonts/LaBorisette-Regular.woff2') format('woff2'),
        url('fonts/LaBorisette-Regular.woff') format('woff'),
        url('fonts/LaBorisette-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Light.woff2') format('woff2'),
        url('fonts/NyghtSerif-Light.woff') format('woff'),
        url('fonts/NyghtSerif-Light.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Regular.woff2') format('woff2'),
        url('fonts/NyghtSerif-Regular.woff') format('woff'),
        url('fonts/NyghtSerif-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Medium.woff2') format('woff2'),
        url('fonts/NyghtSerif-Medium.woff') format('woff'),
        url('fonts/NyghtSerif-Medium.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Bold.woff2') format('woff2'),
        url('fonts/NyghtSerif-Bold.woff') format('woff'),
        url('fonts/NyghtSerif-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Dark.woff2') format('woff2'),
        url('fonts/NyghtSerif-Dark.woff') format('woff'),
        url('fonts/NyghtSerif-Dark.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}