@property --mouse-x {
    syntax: "*";
    inherits: false;
    initial-value: 100px;
}

@property --mouse-y {
    syntax: "*";
    inherits: false;
    initial-value: 100px;
}

/*
 * global styling
 */

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #ded6de;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

h1 {
    font-size: 1.6rem;
    font-family: 'nyghtserif';
    font-weight: 500;
    border-bottom: 2px solid #392c31aa;
    margin: 1rem 0rem;
    padding: 0.25rem;
}

h2 {
    font-size: 1.4rem;
    font-family: 'dinish-expanded';
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-family: 'dinish-expanded';
    font-weight: 300;
}

.header-container {
    text-align: center;
    padding: 1rem 5rem;
    backdrop-filter: blur(5px);
}

@media all {
    .header-title {
        padding: 1rem 1rem 0.5rem 1rem;
        display: flex;
        align-items: center;
    }
    .header-spacer {
        min-width: 4em;
    }
    .header-contact {
        font-size: 24px;
        margin: 1em 0;
        font-family: 'nyghtserif';
        font-weight: 400;
    }
}

@media (min-width: 800px) {
    .header-title {
        flex-direction: row;
    }
}

@media (max-width: 800px) {
    .header-title {
        flex-direction: column;
    }
    .header-spacer {
        display: none;
    }
    .header-contact {
        display: none;
    }
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'c4type';
}

.header-name {
    font-size: 64px;
    font-family: 'c4type';
}

.nav-container {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.nav-item {
    flex: 1;
    padding: 1rem;
    font-family: 'nyghtserif';
    font-weight: 500;
    text-decoration: none;
    color: #392c31;
}

.nav-item:hover {
    background: #4a3c4a11;
    box-shadow: inset 0 0 0 1px #83918b33, 0 0 0.25rem #83918b33;
}

.generic-flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generic-flex-container-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generic-flex-child-centered {
    align-self: center;
}

.generic-halfwidth {
    width: 25%;
}

.generic-onequarterwidth {
    width: 50%;
}

.generic-threequarterwidth {
    width: 75%;
}

.generic-fullwidth {
    width: 100%;
}

.generic-spacer-small {
    height: 1rem;
}

.generic-spacer-medium {
    height: 2rem;
}

.generic-nocolor {
    color: inherit;
}

/*
 * front-page specific styles
 */
.frontpage-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontpage-container {
    background-color: #e6eaee41;
    z-index: 1;
    color: #392c31;
    box-shadow: 0 0 0.5rem 0.25px #83918b33;
}

.front-page-background-webgl {
    width: max(100%, 400px);
    height: max(100%, 400px);
    display: block;
    position: fixed;
}

.front-page-background-noise {
    width: 100%;
    height: 100%;
    position: fixed;
    filter: grayscale(1);
    fill-opacity: 0.0;
}

/*
 * document-type page styles
 */

@media all {
    .document-content-container {
        background-color: #e6eaee41;
        z-index: 1;
        color: #392c31;
        width: max(800px, 60vw);
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        box-shadow: 0 0 0.5rem 0.25px #83918b33;
    }
}

@media (max-width: 800px) {
    .document-content-container {
        width: 100%;
        min-width: 200px;
    }
}

.elevated-container {
    box-shadow: 5px 5px 2px;
    align-self: stretch;
    margin: 0 1rem 0 2rem;
    display: flex;
    flex-direction: row;
}

.elevated-container-label {
    width: 2rem;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    background-color: #352b36;
    padding: 1rem 0.75rem 1rem 0.25rem;
    color: #fff;
    font-family:'bondist';
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.elevated-container-content {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff33;
    overflow: none;
}

.elevated-container-text {
    text-align: start;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    font-family: 'dinish';
    font-size: 1.15rem;
    align-self: stretch;
}

/*
 * project-page specific styles
 */
.project-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-page-padding {
    width: 1rem;
    flex-grow: 0;
}

.project-page-content {
    align-self: stretch;
    flex-grow: 1;
    font-family: 'dinish';
    font-size: 1.2rem;
    overflow-x: wrap;
    padding: 0 2rem 2rem 2rem;
}

.projects-section-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.projects-section-content-padding {
    width: 1rem;
}

.projects-section-content {
    flex-grow: 1;
}

.projects-section-header {
    text-align: center;
    font-family: 'nyghtserif';
    color: #4a3c4a;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.projects-section-header-padding {
    flex-grow: 1;
}

.projects-section-header-separator {
    color: #2b1d2b87;
    height: 0;
    margin: 0;
    padding: 0;
}

.projects-section-header-text {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.project-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-content-column-text {
    padding: 0 1em;
    flex-grow: 1;
    flex-shrink: 1;
}

@media all {
    .project-content-column-image {
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
        object-fit: fill;
        min-width: 200px;
        max-width: 400px;
        min-height: 100px;
        max-height: 200px;
    }

    .project-content-column-image-link {
        width: auto;
        height: auto;
    }
    
}

@media (max-width: 800px) {
    .project-content-column-image-link {
        display: none;
    }

    .project-content-column-image {
        display: none;
    }
}
.project-header {
    font-family: 'dinish';
    color: #4a3c4a;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

.invisilink {
    text-decoration: none;
    color: inherit;
}

.inlinelink {
    color: inherit;
}

.project-description {
    font-family: 'dinish';
    color: #4a3c4a;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

/*
 * about-page-specific styles
 */
.about-page-content {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    font-family: 'dinish';
    color: #4a3c4a;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.horizontal-center-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.code-block-container {
    display: flex;
    flex-direction: row;
}

.code-block-padding {
    width: 1rem;
}

.code-block {
    flex-grow: 1;
    background-color: #ffffff44;
    width: 90%;
    text-align: start;
    padding: 0.5rem;
    font-size: 1rem;
    white-space: normal;
    font-family: 'geistmono';
    font-weight: 500;
    text-decoration: none;
    box-shadow: 5px 5px 5px #33333333;
}

.code-block-line {
    white-space: break-spaces;
    margin: 0;
    padding: 0;
    margin: 0;
}

code-comment {
    color: rgb(28, 150, 28);
}

@font-face {
    font-family: 'aukera';
    src: url('fonts/aukera.woff2') format('woff2'),
        url('fonts/aukera.woff') format('woff'),
        url('fonts/aukera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'c4type';
    src: url('fonts/C4v4-Regular.woff2') format('woff2'),
        url('fonts/C4v4-Regular.woff') format('woff'),
        url('fonts/C4v.4-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geneseexcalibur';
    src: url('fonts/Genese-excalibur-boldstone.woff2') format('woff2'),
        url('fonts/Genese-excalibur-boldstone.woff') format('woff'),
        url('fonts/Genese-excalibur-boldstone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'laborisette';
    src: url('fonts/LaBorisette-Regular.woff2') format('woff2'),
        url('fonts/LaBorisette-Regular.woff') format('woff'),
        url('fonts/LaBorisette-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Light.woff2') format('woff2'),
        url('fonts/NyghtSerif-Light.woff') format('woff'),
        url('fonts/NyghtSerif-Light.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Regular.woff2') format('woff2'),
        url('fonts/NyghtSerif-Regular.woff') format('woff'),
        url('fonts/NyghtSerif-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Medium.woff2') format('woff2'),
        url('fonts/NyghtSerif-Medium.woff') format('woff'),
        url('fonts/NyghtSerif-Medium.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Bold.woff2') format('woff2'),
        url('fonts/NyghtSerif-Bold.woff') format('woff'),
        url('fonts/NyghtSerif-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'nyghtserif';
    src: url('fonts/NyghtSerif-Dark.woff2') format('woff2'),
        url('fonts/NyghtSerif-Dark.woff') format('woff'),
        url('fonts/NyghtSerif-Dark.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dinish';
    src: url('fonts/Dinish-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'dinish-expanded';
    src: url('fonts/DinishExpanded-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'geistmono';
    src: url('fonts/GeistMono-Regular.woff2') format('woff2'),
         url('fonts/GeistMono-Regular.woff')  format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'bondist';
    src: url('fonts/Bondist.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}